
*.ipch
*.db
*.tlog
*.pch
*.pdb
*.log
*.idb
*.iobj
*.ipdb
*.exe
*.ilk
.vs/LearnRayTrace/v15/.suo
*.opendb
/.vs/config/applicationhost.config
*.bin
LearnRayTrace/x64/Debug/*.obj
LearnRayTrace/x64/Release/*.obj
