
*.ipch
*.db
*.tlog
*.obj
*.pch
*.pdb
*.log
*.idb
*.iobj
*.ipdb
*.exe
*.ilk
.vs/LearnRayTrace/v15/.suo
*.opendb
/.vs/config/applicationhost.config
*.bin
/LearnRayTrace/Triangle.h
/LearnRayTrace/Triangle.cpp
